*{
    margin: 0;
    padding: 0;
}

section{
    padding: 15px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    outline: 3px solid black;
    margin: 50px auto;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);
    border-radius: 20px 20px 20px 20px;
}

section a{
    margin: 65px;
}

section input{
    margin: 15px;
    padding: 8px;
    margin-left: 56px;
}

.button{
    margin: 15px;
    padding: 10px;
    margin-left: 100px;
    color: #fff;
    border: 0;
    width: 100px;
    height: 50px;
    border-radius: 15%;
    background-color: #D4A373;
    transition: 300ms;
    background-color: 300ms;
    animation: pulse 500ms;
}

.button:active{
    transform: scale(0.85);
    animation: none;
}

@keyframes pulse {
    from {
        box-shadow: #D4A373 0 0 0;
    }
    to {
        box-shadow: #D4A373 0 0 24px;
    }
}


