* {
	margin: 0;
	padding: 0; 
}

/*começo de código*/

body {
    font-family: 'Montserrat', sans-serif;
}

/*começo da header*/

header {
    background-color: #CCD5AE;
}

.logo {
    text-align: center;
}

.logo img{
    width: 200px;
}

.login {
	font-family: 'Bebas Neue', cursive;
    text-align: right;
}

.icone-carrinho {
    text-align: right;
    
}

.procurar {
    margin-left: 150px;
}

/*fim da header*/

/*começo do footer*/

footer {
    background-color: #E9EDC9;
}

footer img{
    width: 150px;
}

.palavras-chaves-footer {
	font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    text-align: center;
}
#endereco{
    text-align: right;
}

.itemFooter{
    margin-left: 10px;
}