*{
    margin: 0;
    padding: 0;
}


/*começo de código*/

body {
    font-family: 'Montserrat', sans-serif;
}

/*começo da header*/

header {
    background-color: #CCD5AE;
	display: block;
}

.logo {
    text-align: center;
}

.logo img{
    width: 200px;
}

.login {
	font-family: 'Bebas Neue', cursive;
    text-align: right;
}

.login>a {
	text-decoration: none;
	color: #D4A373;
}

.icone-carrinho {
    width: 40px;
}

.procurar {
    text-align: left;
    margin-left: 20px;
    font-size: x-large;
}

.navegadores {
    text-align: right;
    margin-right: 20px;
    font-size: x-large;
}
.menu {
width: 40px;
}
#pesquisa {
width: 200px;
height: 20px;
}
/*fim da header*/

/*começo do footer*/

footer {
    background-color: #E9EDC9;
}

footer img{
    width: 150px;
}

.palavras-chaves-footer {
	font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    text-align: center;
}
#endereco{
    text-align: right;
}

.itemFooter{
    margin-left: 10px;
}

/*fim do footer*/

.carrossel{
    width: 1500px;
    height: 500px;
    overflow: hidden;
    outline: 3px solid black;
    margin: 50px auto;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);
}

.carrossel div{
    display: flex;
    list-style: none;
    width: 3600px;
    height: 500px;
}

.carrossel img{
    position: relative;
    animation: slide 18s infinite ease-in-out; 
}

@keyframes slide{
    0%{left: 0px;}

    20%{left: -700px;}

    40%{left: -1200px;}

    60%{right: 1200px;}

    80%{right: 700px;}

    100%{right: 0px;}
}

section {
    display: flex;
}

figure {
    height: 420px;
    width: 420px;
    overflow: hidden;
    outline: 3px solid black;
    margin: 56px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);
    border-radius: 20px 20px 20px 20px;
}

h1 {
    color: #D4A373;
    text-align: center;
    border-color: solid;
    background-color: #CCD5AE;  
}

figure img{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #E9EDC9;
}