*{
    margin: 0;
    padding: 0;
    text-decoration: none;

}


/*começo de código*/

body {
    font-family: 'Montserrat', sans-serif;
}

/*começo da header*/

header {
    background-color: aquamarine;
    height: 300px;
}

.logo {
    text-align: center;
    padding-top: 100px;
}

.nome-logo {
    font-size: 50px;
    font-weight: 700;
    color: black;
    text-decoration: none;
}

.menu {
    position: absolute;
    bottom: 450px;
    left: 0;
}

.carrinho {
    position: absolute;
    bottom: 450px;
    right: 0;
}

.login {
    margin: 10vh;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.cadastro {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}



/*fim da header*/

/*começo do footer*/

footer {
    background-color: aquamarine;
}

footer h1{
    color: black;
    
}

.palavras-chaves-footer {
    color: black;
	font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    text-align: center;
}
#endereco{
    text-align: center;
    font-weight: 700;
}

.itemFooter{
    margin-left: 10px;
}

/*fim do footer*/

.carrossel{
    width: 1500px;
    height: 500px;
    overflow: hidden;
    outline: 3px solid black;
    margin: 50px auto;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);
}

.carrossel div{
    display: flex;
    list-style: none;
    width: 3600px;
    height: 500px;
}

.carrossel img{
    position: relative;
    animation: slide 18s infinite ease-in-out; 
}

@keyframes slide{
    0%{left: 0px;}

    20%{left: -700px;}

    40%{left: -1200px;}

    60%{right: 1200px;}

    80%{right: 700px;}

    100%{right: 0px;}
}

section {
    display: flex;
}

figure {
    height: 420px;
    width: 420px;
    overflow: hidden;
    outline: 3px solid black;
    margin: 56px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);
    border-radius: 20px 20px 20px 20px;
}

h1 {
    color: #D4A373;
    text-align: center;
    border-color: solid;
    background-color: #CCD5AE;  
}

figure img{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #E9EDC9;
}