* {
	margin: 0;
	padding: 0; 
    max-width: 100%;
    box-sizing: border-box;
}


/*começo de código*/

body {
    font-family: 'Montserrat', sans-serif;
}

/*começo da header*/



/*fim da header*/

.descricao {
    flex-direction: column;
    align-items: center;
}

/*começo do footer*/

footer {
    height: 20vh;
}

.cor {
    background-color: black;
}

/*fim do footer*/