* {
	margin: 0;
	padding: 0; 
}

main {
    background: #FEFAE0;
    padding-top: 5em;
    padding-bottom: 5em;
}

h1 {
    color: #D4A373;
}

h2 {
    color: #D4A373;
    padding-left: 0.5em;
}

h4 {
    color: #D4A373;
}

p {
    color: #D4A373;
    }
a {
    color: #D4A373; 
    text-decoration: none;
}
.CarrinhoLista{
    margin: 5%;
}
.carrinhoCount{
    justify-content: space-around;
    align-items: center;
}
.CarrinhoItem{
    list-style-type: none;
    display: flex;

}
.DetalhesProduto {
    margin-left: 3%;
    margin-right: 3%;
}
.PreferenciasCliente p{
    margin-left: 0.5em;
    margin-right: 0.5em;
    height: 8px;
    align-items: center;
    margin-bottom: 0;
    margin-top: 4px;
}
.CarrinhoItem button{
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 0;
    line-height: 18px;
    background-color: #D4A373;
    color: #FEFAE0;
    border: none;
    cursor: pointer;
    outline: none;
}
button:hover {
    background-color: #d4a373ec;
    transition: 300ms;
}

.ImagemProduto {
    width: 200px;
}
.CorProduto{
    border-radius: 50%;
    width: 36px;
    height: 36px;
}

.DadosCart {
    justify-content: space-around;
    align-items: center;
}
.carrinhoInput{
    justify-content:flex-end;
    align-items: center;
}

.listaCarrinho{
    bottom: 30px;
    text-align: center;
}
.dadosCarrinho input{
    width: 24em;
    height: 2em;
;
}
.carrinhoInput p{
    margin-right: 2em;
}
.dadosCarrinho{
    margin: 5%;
    text-align: center;
}
.dadosCarrinho input{
    border-radius: 60px;
    border: none;
    text-align: center;
    color: #D4A373;
}
.finalizarCompra{
    align-self: flex-end;
    width: 20em;
    height: 3em;
    margin-right: 20em;
    border-radius: 60px;
    background-color: #D4A373;
    color: #FEFAE0;
    border: none;
}
.singleInput{
    display: flex;
    justify-content: center;
}
.singleInput p{
    margin-right: 2em;
}
.dubleInput{
    display: flex;
    justify-content: space-around;
}
.dubleInput p{
    margin-right: 1em;
}
.dubleInput input{
    margin-right: 0.5em;
}
.organizeInput{
    width: 40em;
    display:flex;
    justify-content: space-between;

}

/*começo de código*/

body {
    font-family: 'Montserrat', sans-serif;
}

/*começo da header*/

header {
    background-color: #CCD5AE;
	display: block;
    padding-bottom: 2em;
}
header a{
    text-decoration: none;
    color: #D4A373;
}
.logo {
    text-align: center;
}

.logo img{
    width: 200px;
}

.login {
	font-family: 'Bebas Neue', cursive;
    text-align: right;
}

.icone-carrinho {
    width: 40px;
}

.procurar {
    text-align: left;
    margin-left: 20px;
    font-size: x-large;
}

.navegadores {
    text-align: right;
    margin-right: 20px;
    font-size: 2.2em;
    margin-bottom: 0;
}
.login:hover {
    color: #d4a373da;
    transition: 300ms;
}
.menu {
    width: 40px;
}
#pesquisa {
    width: 30em;
    height: 2em;
    border-radius: 60px;
    border: none;
    color: #D4A373;
    background-color: #FEFAE0;
    text-align: center;
}
.funcionalidadesHeader{
    display:flex;
    justify-content: space-between;
    margin-left: 2em;
    margin-right: 2em;
}
/*fim da header*/

/*começo do footer*/

footer {
    background-color: #E9EDC9;
    padding-bottom: 3em;
}

footer img{
    width: 150px;
    margin-left: 3em;
}

.palavras-chaves-footer {
	font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    color: #D4A373;
    text-align: center;
}
.palavras-chaves-footer a{
    text-decoration: none;
    color: #D4A373;
}
#endereco{
    text-align: right;
    margin-bottom: 0;
    margin-right: 3em;
    font-size: 1.5em;
}

.itemFooter{
    margin-left: 3em;
    font-size: 1.8em;
}

.itemFooter:hover {
    color: #d4a373da;
    transition: 300ms;
}
/*fim do footer*/
